html, body, #viewDiv {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.popup-img {
    display: block;
    margin: 1em auto;
    max-width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 25%;
    height: auto;
    background-color: rgb(255, 255, 255, 0.8); /* Grey background with some transparency */
    color: black;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.5);
    z-index: 1;
    margin: 0.75em;
}